/* general styles */
body {
    margin: 0;
    font-family: 'Helvetica', sans-serif;
    background-color: #040416;
    /* Solid background color for the rest of the page */
}

.full-body-container {
    position: absolute;
    width: 100vw;
    height: auto;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 200px;
}

.top-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 40px;
}

.top-text h1 {
    font-size: 44px;
    font-weight: 500;
    text-align: center;
    color: #aec3d2;
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 50;
}

.lablink-title {
    display: flex;
    align-items: center;
}

/* cornell logo */
.cornell-logo {
    width: 55px;
    height: 55px;
    margin-right: 25px;
    display: flex;
    align-items: center;
}

.cornell-logo img {
    margin-top: 5px;
    opacity: .7;
    width: 100%;
    height: auto;
}

/* search bar */
.input-box {
    display: flex;
    align-items: center;
    border: 3px transparent;
    border-radius: 40px;
    padding: 12px;
    width: 640px;
    background-color: rgba(96, 117, 164, 0.249);
    margin-top: 20px;
}

.input-box input {
    border: none;
    outline: none;
    flex-grow: 1;
    padding: 10px;
    padding-left: 15px;
    background-color: transparent;
    font-family: inherit;
    caret-color: #cadce9;
    color: #cadce9;
    font-size: 15px;
}

.input-box input::placeholder {
    color: #85abc8;
    font-size: 15px;
}

/* citation menu */
.dropdown {
    margin-left: 40px;
    position: relative;
    display: inline-block;
}

.dropdown-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    color: #cadce9;
    font-family: inherit;
    font-size: 15px;
}

.dropdown-btn:hover {
    color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: #cadce9;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 130px;
    top: 30px;
    right: 0;
    z-index: 10;
    overflow: hidden;
}

.dropdown-content div {
    padding: 8px;
    cursor: pointer;
    text-align: center;
    font-family: inherit;
    color: rgb(28, 51, 102);
    transition: background-color 0.2s ease-in-out;
}

.dropdown-content div:hover {
    background-color: #aec7e2;
}

.dropdown.active .dropdown-content {
    display: block;
}

.arrow {
    display: inline-block;
    transition: transform 0.3s ease;
    color: #cadce9;
    font-size: 10px;
    margin-left: 5px;
    margin-bottom: 2px;
}

.dropdown.active .arrow {
    transform: rotate(180deg);
}

/* search button */
.search-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.search-btn img {
    width: 20px;
    height: 20px;
    transform: scale(2.0);
    margin-top: 4px;
    margin-left: 15px;
    margin-right: 6px;
}

.search-btn:hover {
    opacity: 0.8;
}

/* suggestions box */
.suggestions-box {
    margin-top: 200px;
    margin-right: 195px;
    position: absolute;
    background-color: rgba(96, 117, 164, 0.249);
    color: #85abc8;
    width: 445px;
    border-radius: 10px 10px 10px 10px;
    z-index: 1000;
    overflow: hidden;
}

.suggestion-item {
    padding: 10px 15px;
    cursor: pointer;
    font-size: 15px;
}

.suggestion-item:hover {
    background-color: rgba(76, 99, 148, 0.372);
    transition: background-color 0.2s ease-in-out;
}

/* NO result output */
.no-results-message {
    color: #aec3d2;
    font-size: 16px;
    margin-top: 100px;
    text-align: center;
}

/* result output */
#answer-box {
    margin-top: 151px;
    padding-bottom: 160px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.professor-entry {
    position: relative;
    margin-bottom: 50px;
    padding: 32px;
    border-radius: 10px;
    background-color: transparent;
    width: 940px;
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, sans-serif;
    color: #aec3d2;
}

.professor-content {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.professor-content.visible {
    opacity: 1;
    transform: translateY(0);
}

.divider-line {
    height: 0.5px;
    background-color: #aec3d2;
    margin-bottom: 30px;
    width: 940px;
}

.professor-header {
    margin-top: 40px;
    display: flex;
    align-items: center;
    /* don’t space-between */
    justify-content: flex-start;
}

.prof-name {
    white-space: nowrap;
    font-size: 30px;
    margin: 0;
    margin-right: 24px;
    white-space: nowrap;
}

/* google scholar link */
.prof-link {
    color: #aec3d2;
    text-decoration: none;
    transition: color 0.3s ease;
}

.prof-link:hover {
    color: #ffffff;
}

.link-icon {
    width: 22px;
    height: 22px;
    margin-left: 4px;
    padding-bottom: 5px;
    vertical-align: middle;
    opacity: 1;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.prof-link:hover .link-icon {
    opacity: 1;
}

.affiliation {
    font-size: 16px;
    font-weight: normal;
    color: #aec3d2;
    margin-left: auto;
    max-width: 60%;
    word-wrap: break-word;
}

.interests {
    margin-top: 30px;
    font-size: 18px;
    margin-bottom: 50px;
    color: #9ab3c5;
}

.publications-section h4 {
    font-size: 16px;
    margin-bottom: 10px;
    color: #aec3d2;
}

.publications {
    list-style-type: disc;
    /* color: #617CC7; */
    color: #7a9bd5;
    font-size: 16px;
}

.publications li {
    margin-bottom: 10px;
    font-style: italic;
}

.no-pubs-message {
    text-align: center;
    font-style: normal;
    margin-top: 40px;
    margin-bottom: 40px;
    color: #7a9bd5;
}

.details {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.citation-count {
    font-size: 14px;
    font-weight: bold;
    color: #7a9bd5;
    margin-bottom: 40px;
    align-self: flex-end;
}

.coauthors h4 {
    display: inline;
    font-size: 16px;
    margin-right: 5px;
    color: #5582e3;
}

.coauthors span {
    font-size: 16px;
    color: #5582e3;
}

.coauthor-link {
    color: #5582e3;
    text-decoration: none;
    transition: color 0.3s ease;
}

.coauthor-link:hover {
    color: rgb(181, 201, 255);
}

/* profile sidebar */
.professor-sidebar {
    position: sticky;
    top: 100px;
    z-index: 1000;
    align-self: start;
}

.sidebar-toggle {
    margin: 0;
    background: none;
    border: none;
    opacity: 1;
    display: flex;
    padding: 0px;
    transition: opacity 0.3s ease;
    align-items: center;
}

.sidebar-toggle img {
    width: 10px;
    height: 10px;
    transform: scale(3.2);
}

.sidebar-toggle:hover {
    opacity: 0.8;
}

.sidebar-toggle .toggle-icon {
    width: 10px;
    height: 10px;
    transform: scale(3.2) rotate(0deg);
    transition: transform 0.3s ease;
}

.sidebar-toggle.rotated .toggle-icon {
    transform: scale(3.2) rotate(180deg);
}

.profile-sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 420px;
    height: 100%;
    padding: 16px;
    overflow-y: auto;
    z-index: 1000;
    transform: translateX(100%);
    opacity: 0;
    pointer-events: none;
    transition: transform 0.6s ease, opacity 0.6s ease;
    background-color: rgba(34, 41, 61, 0.9);
}

.profile-sidebar.active {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
}

.sidebar-name {
    margin-top: 32px;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 26px;
    color: #aec3d2;
    flex-grow: 1;
}

.profile-btn {
    margin-top: 40px;
    position: absolute;
    background-color: #cadce9;
    color: rgb(28, 51, 102);
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    font-size: 14px;
    font-style: bold;
    cursor: pointer;
    z-index: 2;
    transition: background-color 0.3s ease;
}

.profile-btn:hover {
    background-color: #4e64a0;
    color: white;
}

.close-btn {
    position: absolute;
    top: 12px;
    right: 12px;
    background: transparent;
    color: white;
    border: none;
    font-size: 30px;
    cursor: pointer;
    z-index: 2;
    transition: color 0.3s ease;
}

.close-btn:hover {
    color: rgb(89, 153, 255);
}

/* authorship */
.hidden-authorship {
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
    text-align: center;
    font-size: 12px;
    color: #334d94;
    margin-top: 40px;
    padding-bottom: 40px;
}

.show-authorship {
    opacity: 1;
}