/* general styles */
body {
    margin: 0;
    font-family: 'Helvetica', sans-serif;
    background-color: #040416;
    /* Solid background color for the rest of the page */
}

.full-body-container {
    position: absolute;
    width: 100vw;
    height: auto;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 200px;
}

.top-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 40px;
}

.top-text h1 {
    font-size: 44px;
    font-weight: 500;
    text-align: center;
    color: #aec3d2;
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 50;
}

.lablink-title {
    display: flex;
    align-items: center;
}

/* cornell logo */
.cornell-logo {
    width: 55px;
    height: 55px;
    margin-right: 25px;
    display: flex;
    align-items: center;
}

.cornell-logo img {
    margin-top: 5px;
    opacity: .7;
    width: 100%;
    height: auto;
}

/* search bar */
.input-box {
    display: flex;
    align-items: center;
    border: 3px transparent;
    border-radius: 40px;
    padding: 12px;
    width: 640px;
    background-color: rgba(96, 117, 164, 0.249);
    margin-top: 20px;
}

.input-box input {
    border: none;
    outline: none;
    flex-grow: 1;
    padding: 10px;
    padding-left: 15px;
    background-color: transparent;
    font-family: inherit;
    caret-color: #cadce9;
    color: #cadce9;
    font-size: 15px;
}

.input-box input::placeholder {
    color: #85abc8;
    font-size: 15px;
}

/* citation menu */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    color: #cadce9;
    font-family: inherit;
    font-size: 15px;
}

.dropdown-btn:hover {
    color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: #cadce9;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 160px;
    top: 30px;
    right: 0;
    z-index: 10;
    overflow: hidden;
}

.dropdown-content div {
    padding: 8px;
    cursor: pointer;
    text-align: center;
    font-family: inherit;
    color: rgb(28, 51, 102);
    transition: background-color 0.2s ease-in-out;
}

.dropdown-content div:hover {
    background-color: #aec7e2;
}

.dropdown.active .dropdown-content {
    display: block;
}

.arrow {
    display: inline-block;
    transition: transform 0.3s ease;
    color: #cadce9;
    font-size: 10px;
    margin-left: 5px;
    margin-bottom: 2px;
}

.dropdown.active .arrow {
    transform: rotate(180deg);
}

/* search button */
.search-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.search-btn img {
    width: 20px;
    height: 20px;
    transform: scale(2.0);
    margin-top: 4px;
    margin-left: 15px;
    margin-right: 6px;
}

/* result output */
#answer-box {
    margin-top: 151px;
    padding-bottom: 160px;
    /* Add space for scrolling */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.professor-entry {
    position: relative;
    margin-bottom: 64px;
    padding: 32px;
    border-radius: 10px;
    background-color: transparent;
    width: 940px;
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, sans-serif;
    color: #aec3d2;
}

.divider-line {
    height: 0.5px;
    background-color: #aec3d2;
    margin-bottom: 40px;
}

.professor-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.prof-name {
    white-space: nowrap;
    font-size: 30px;
    margin: 0;
}

/* google scholar link */
.prof-link {
    color: #aec3d2;
    text-decoration: none;
    transition: color 0.3s ease;
}

.prof-link:hover {
    color: #ffffff;
}

.link-icon {
    width: 22px;
    height: 22px;
    margin-left: 4px;
    padding-bottom: 5px;
    vertical-align: middle;
    opacity: 1;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.prof-link:hover .link-icon {
    opacity: 1;
}

.affiliation {
    font-size: 16px;
    font-weight: normal;
    color: #aec3d2;
    margin: 0;
    max-width: 60%;
    word-wrap: break-word;
}

.interests {
    margin-top: 30px;
    font-size: 18px;
    margin-bottom: 50px;
    color: #aec3d2;
}

.publications-section h4 {
    font-size: 16px;
    margin-bottom: 10px;
    color: #aec3d2;
}

.publications {
    list-style-type: disc;
    color: #617CC7;
    font-size: 16px;
}

.publications li {
    margin-bottom: 10px;
    font-style: italic;
}

.citation-count {
    margin-top: 20px;
    position: absolute;
    right: 40px;
    font-size: 14px;
    font-weight: bold;
    color: #617CC7;
}

/* authorship */
.hidden-authorship {
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
    text-align: center;
    font-size: 12px;
    color: #415487;
    margin-top: 40px;
    padding-bottom: 40px;
}

.show-authorship {
    opacity: 1;
}