<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
    rel="stylesheet">

<body>
    <div class="full-body-container">
        <div class="top-text">
            <div class="lablink-title">
                <h1 id="title-1">LabLink Cornell</h1>
            </div>

            <!-- search bar -->
            <div class="input-box" onclick="sendFocus()">
                <input type="text" placeholder="What are you interested in?" id="search-query-input">

                <!-- citation dropdown -->
                <div class="dropdown">
                    <button id="citation-btn" class="dropdown-btn">Citations</button>
                    <div class="dropdown-content" id="citation-options">
                        <div onclick="selectCitationRange('N/A')">N/A</div>
                        <div onclick="selectCitationRange('1-10,000')">1-10,000</div>
                        <div onclick="selectCitationRange('10,000-50,000')">10,000-50,000</div>
                        <div onclick="selectCitationRange('50,000-100,000')">50,000-100,000</div>
                        <div onclick="selectCitationRange('100,000+')">100,000+</div>
                    </div>
                </div>

                <!-- search button -->
                <button class="search-btn" onclick="searchQuery()">
                    <img src="{{ url_for('static', filename='images/mag.png') }}" alt="Search">
                </button>
            </div>
        </div>

        <!-- results -->
        <div id="answer-box">

        </div>
    </div>

    <script>

        document.addEventListener("DOMContentLoaded", function () {
            const citation_btn = document.getElementById("citation-btn");
            const dropdown = document.querySelector(".dropdown");

            // toggle dropdown
            citation_btn.addEventListener("click", function (event) {
                event.stopPropagation();
                dropdown.classList.toggle("active");
            });

            // close dropdown
            document.addEventListener("click", function () {
                dropdown.classList.remove("active");
            });

            // focus on search bar on page load
            document.getElementById("search-query-input").focus();
        });

        // set selected citation range
        function selectCitationRange(range) {
            document.getElementById("citation-btn").textContent = range;
            document.querySelector(".dropdown").classList.remove("active");
        }

        function handleEnterKey(event) {
            if (event.key === "Enter") {
                searchQuery();
            }
        }

        function answerBoxTemplate(index, name, affiliation, interests, citations, publications) {
            return `<div class='professor-entry'>
                <h3 class='prof-name'>${index}. ${name}</h3>
                <p class='affiliation'><strong>Affiliation:</strong> ${affiliation}</p>
                <p class='interests'><strong>Research Interests:</strong> ${interests.join(', ')}</p>
                <p class='citations'><strong>Citations:</strong> ${citations}</p>
                <h4>Relevant Publications:</h4>
                <ul class='publications'>
                    ${publications.map(pub => `<li>${pub}</li>`).join("")}
                </ul>
            </div>`
        }

        function sendFocus() {
            document.getElementById("search-query-input").focus()
        }

        function searchQuery() {
            let query = document.getElementById("search-query-input").value;
            let citations = document.getElementById("citation-btn").textContent;
            if (citations == "N/A" || citations == "Citations") {
                citations = 0;
            }
            else if (citations == "100,000+") {
                citations = 100000;
            }

            console.log(query)
            fetch("/search?" + new URLSearchParams({ query, citations }).toString())
                .then((response) => response.json())
                .then((data) => {
                    if (data.length === 0) {
                        document.getElementById("answer-box").innerHTML = "<p>No results found.</p>";
                        return;
                    }

                    document.getElementById("answer-box").innerHTML = "";

                    data.forEach((row, index) => {
                        let tempDiv = document.createElement("div")
                        tempDiv.innerHTML = answerBoxTemplate(
                            index + 1,
                            row.name,
                            row.affiliation,
                            row.interests,
                            row.citations,
                            row.publications)
                        document.getElementById("answer-box").appendChild(tempDiv)
                    });
                });
        }
    </script>
</body>