<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap" rel="stylesheet">
<body>
    <div class="full-body-container">
        <div class="top-text">
            <div class="lablink_title">
                <h1 id="google-1">LabLink Cornell</h1>
            </div>
            <div class="input-box" onclick="sendFocus()">
                <img src="{{ url_for('static', filename='images/mag.png') }}" />
                <input placeholder="Type in your research interests" id="filter-text-val" onkeyup="filterText()">
            </div>
        </div>
        <div id="answer-box">

        </div>
    </div>

    <script>

        function answerBoxTemplate(name, matched_publications){
            return `<div class=''>
                <h3 class='prof-name'>${name}</h3>
                <ul class='publications'>
                    ${matched_publications.map(pub => `<li>${pub}</li>`).join("")}
                </ul>
            </div>`
        }

        function sendFocus(){
            document.getElementById('filter-text-val').focus()
        }

        function filterText(){
            document.getElementById("answer-box").innerHTML = ""
            let query = document.getElementById("filter-text-val").value;
            console.log(query)
            fetch("/search?" + new URLSearchParams({ query }).toString())
            .then((response) => response.json())
            .then((data) => {
                if (data.length === 0) {
                    document.getElementById("answer-box").innerHTML = "<p>No results found.</p>";
                    return;
                }
            
                data.forEach(row => {
                    let tempDiv = document.createElement("div")
                    tempDiv.innerHTML = answerBoxTemplate(row.name, row.matched_publications)
                    document.getElementById("answer-box").appendChild(tempDiv)
                });
            });
        }
            
    </script>
</body>